<link rel="stylesheet" href="./css/style.css">

<main>
    <div class="form">

        <form>
            <h1>Добавьте товар</h1>
            <div class="title">
                <input data-required="true" type="text" data-regex="text" placeholder="Название товара" name="title">
                <p>Пожалуйста введите название товара!</p>
            </div>
            <div class="description">
                <input data-required="true" type="text" data-regex="text" placeholder="Описание товара"
                    name="description">
                <p>Пожалуйста введите описание товара!</p>

            </div>
            <div class="isDone">
                <input type="checkbox" name="isDone">
                <p>Сделана задача?</p>
            </div>
            <div class="comment">
                <input data-required="true" type="text" data-regex="text" placeholder="Коментарий" name="comments">
                <p>Пожалуйста введите комментарий к товару!</p>
            </div>
            <button>Send and create!</button>
        </form>
    </div>

    <div class="modals">
        <div class="success">asdsadasdsadasd</div>
        <div class="notSuccess"></div>
    </div>

    <div class="data">

    </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.1/axios.min.js"></script>
<script src="index.js"></script>